/assets/build/
/artifacts/
/.wp-env-multisite/
/.wp-env.override.json
/playwright-report/
/test-results/
/vendor/
/docs/_site/
/docs/.jekyll-cache/
/docs/.sass-cache/
/docs/Gemfile.lock
!phpcs.xml.dist
!phpstan.neon.dist
!phpunit.xml.dist
!phpunit.integration.xml.dist
